{%extends 'Email/base.html'%}
{%load static%}
{%block content%}
        <!-- Content body -->
        <div class="content-body">
            <!-- Content -->
            <div class="content">

    <div class="row app-block">
        <div class="col-md-3 app-sidebar">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#compose">
                        <i class="ti-plus mr-2"></i> Compose Email
                    </button>
                </div>
                <div class="app-sidebar-menu">
                    <div class="list-group list-group-flush">
                        <a href="{% url 'mail_list_class' %}?email_type=inbox"

                           class="list-group-item

                           {% if 'inbox' in request.get_full_path %}
                            active
                            {% endif %}

                           d-flex align-items-center">
                            <i class="ti-email list-group-icon mr-2 text-primary"></i>Inbox
                            <span class="small ml-auto">{{ inbox_count }}</span>

                        </a>
                        <a href="{% url 'mail_list_class' %}?email_type=send"

                           class="list-group-item
                            {% if 'send' in request.get_full_path %}
                            active
                            {% endif %} ">
                            <i class="ti-check list-group-icon mr-2 text-success" ></i>Send

                        </a>
                        <a href="{% url 'mail_list_class' %}?email_type=draft"
                           class="list-group-item
                             {% if 'draft' in request.get_full_path %}
                            active
                            {% endif %} ">

                            <i class="ti-pencil-alt list-group-icon mr-2 text-secondary"></i>Draft
                        </a>

                        <a href="{% url 'mail_list_class' %}?email_type=starred"
                           class="list-group-item d-flex align-items-center
                            {% if 'starred' in request.get_full_path%}
                            active
                            {% endif %} ">

                                    <i class="mr-2 fa fa-star text-warning"></i>Starred
                                    <span class="small ml-auto">{{ starred_count }}</span>
                                </a>

                        <a href="{% url 'mail_list_class' %}?email_type=spam"
                           class="list-group-item
                            {% if 'spam' in request.get_full_path %}
                            active
                            {% endif %} ">

                            <i class="ti-info-alt list-group-icon mr-2 text-danger"></i>Spam
                        </a>

                        <a href="{% url 'mail_list_class' %}?email_type=trash"
                           class="list-group-item d-flex align-items-center
                             {% if 'trash' in request.get_full_path %}
                            active
                            {% endif %} ">
                            <i class="ti-trash list-group-icon mr-2 text-danger"></i>Trash
                            <span class="small ml-auto">{{ trash_count }}</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="mb-0">Labels</h6>
                    </div>
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-warning fa fa-circle mr-2"></span>
                            Theme Support
                            <span class="small ml-auto">5</span>
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-success fa fa-circle mr-2"></span>
                            Freelance
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-danger fa fa-circle mr-2"></span>
                            Social
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-info fa fa-circle mr-2"></span>
                            Friends
                        </a>
                        <a href="#" class="list-group-item d-flex align-items-center">
                            <span class="text-secondary fa fa-circle mr-2"></span>
                            Coding
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 app-content">
            <div class="app-content-overlay"></div>
            <div class="app-action">
                <div class="action-left">
                    <div class="custom-control custom-checkbox mr-3">
                        <input type="checkbox" class="custom-control-input" id="customCheckAll">
                        <label class="custom-control-label" for="customCheckAll"></label>
                    </div>
                    <ul class="list-inline">
                        <li class="list-inline-item mb-0">
                            <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                                With selected
                            </a>

                            <div class="dropdown-menu">
                                 {% if 'inbox' in request.get_full_path %}
                                <a class="dropdown-item text-primary email_status_select"
                                   data-email_status="read" href="#">Mark as read</a>

                                <a class="dropdown-item text-secondary email_status_select"
                                   data-email_status="unread" href="#">Mark as unread</a>


                                <a class="dropdown-item text-warning email_status_select"
                                   data-email_status="spam" href="#">Spam</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger email_status_select"
                                   data-email_status="delete" href="#">Delete</a>

                                {% elif 'send' in request.get_full_path %}
                                <a class="dropdown-item text-danger email_status_select"
                                   data-email_status="delete" href="#">Delete</a>

                                {% elif 'draft' in request.get_full_path %}
                                <a class="dropdown-item text-success email_status_select"
                                   data-email_status="send" href="#">Send Email</a>
                                <a class="dropdown-item text-danger email_status_select"
                                   data-email_status="delete" href="#">Delete</a>

                                {% elif 'starred' in request.get_full_path %}
                                <a class="dropdown-item text-light email_status_select"
                                   data-email_status="star" href="#">UnMark as Star</a>
                                {% elif 'spam' in request.get_full_path %}
                                <a class="dropdown-item text-success email_status_select"
                                   data-email_status="spam" href="#">UnMark as Spam</a>
                                <a class="dropdown-item text-danger email_status_select"
                                   data-email_status="delete" href="#">Delete</a>
                                {% elif 'trash' in request.get_full_path %}
                                <a class="dropdown-item text-success email_status_select"
                                   data-email_status="delete" href="#">Recover Email</a>
                                <a class="dropdown-item text-danger email_status_select"
                                   data-email_status="remove" href="#">Empty Trash</a>


                                {% endif %}


                            </div>


                        </li>
                        <li class="list-inline-item mb-0">
                            <a href="#" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                                Order by
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <form action="{% url 'mail_list_class' %}">
                                    <input type="hidden" name="filter" value="date">
                                    <input type="hidden" name="email_type" value="{{email_type}}">
                                    <button class="dropdown-item
                                    {%if 'date' in request.get_full_path%}
                                    active
                                    {%endif%}
                                        " type="submit">Date</button>
                                </form>
<!--                                <a class="dropdown-item" href="{{request.get_full_path}}&filter=date">Date</a>-->
                                <form action="{% url 'mail_list_class' %}">
                                    <input type="hidden" name="filter" value="from">
                                    <input type="hidden" name="email_type" value="{{email_type}}">
                                    <button class="dropdown-item
                                     {%if 'from' in request.get_full_path%}
                                    active
                                    {%endif%}" type="submit">From</button>
                                </form>
<!--                                <a class="dropdown-item" href="#">From</a>-->
                                <form action="{% url 'mail_list_class' %}">
                                    <input type="hidden" name="filter" value="subject">
                                    <input type="hidden" name="email_type" value="{{email_type}}">
                                    <button class="dropdown-item
                                         {%if 'subject' in request.get_full_path%}
                                    active
                                    {%endif%}" type="submit">Subject</button>
                                </form>
<!--                                <a class="dropdown-item" href="#">Subject</a>-->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Size</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="action-right">
                    <form class="d-flex mr-3" method="GET" action="{% url 'mail_list_class' %}">
                        <a href="#" class="app-sidebar-menu-button btn btn-outline-light">
                            <i data-feather="menu" class="width-15 height-15"></i>
                        </a>
                        <div class="input-group" >
                            <input type="text" class="form-control" name = "search" placeholder="Email search"
                                   value="{{ search_q }}"
                                   aria-describedby="button-addon1">
                            <input type="hidden" class="form-control" name = "email_type" value="{{email_type}}"
                                   aria-describedby="button-addon1">
                            <div class="input-group-append">
                                <button class="btn" type="submit" id="button-addon1">
                                    <i class="ti-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="app-pager d-flex align-items-center">

<!--                                            page_obj.number     page_obj.object_list|length  page_obj.paginator.num_pages -->
                        <div class="mr-3">{{ page_obj.start_index }} - {{page_obj.end_index}}  of {{ page_obj.paginator.count }}</div>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination">

                                    <li class="page-item">
                                         {% if page_obj.has_previous %}
                                        <a class="page-link"
                                           href="{% url 'mail_list_class'%}?email_type={{email_type}}&page={{ page_obj.previous_page_number }}"
                                           aria-label="Previous">
                                            <i class="ti-arrow-left"></i>
                                        </a>
                                        {%endif%}
                                    </li>

                                   <li class="page-item">
                                    {% if page_obj.has_next %}
                                    <a class="page-link"
                                       href="{% url 'mail_list_class'%}?email_type={{email_type}}&page={{ page_obj.next_page_number }}"
                                       aria-label="Next">
                                        <i class="ti-arrow-right"></i>
                                    </a>
                                    {%endif%}
                                   </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="card card-body app-content-body">


                <div class="app-lists">
                    <ul class="list-group list-group-flush">
                       {% for email in object_list%}
                        <li class="list-group-item card_display_email
                                {%if email.mail_viewed%}
                                    text-light
                                        {%else%}
                                        bg-dark
                                        {%endif%}"

                            list_email_id="{{email.pk}}"

                                    id="email_list_li{{ email.pk }}"
                                    data-email_subject="{{ email.subject }}"
                                    data-email_body="{{email.body}} "
                                    data-email_sender="{{email.sender}} &lt{{email.sender.email}}&gt"
                                    data-email_label="{{email.get_label_display}}"
                                    data-email_receiver="{{email.receiver}} &lt{{email.receiver.email}}&gt"
                                    data-email_viewed_date="{{email.viewed_date}}"
                                    data-email_attached_files="{% if email.file_upload %}{{email.file_upload.url}}{% endif %}"
                                    data-email_file_name="{% if email.file_upload %}{{email.file_upload.name}}{% endif %}">
                                    <div>
                                        <div class="custom-control custom-checkbox mr-2">
                                            <input type="checkbox" class="custom-control-input email_checkbox"
                                                   data-email_id="{{email.pk}}"
                                                   id="customCheck{{forloop.counter}}">
                                            <label class="custom-control-label"
                                                   for="customCheck{{forloop.counter}}"></label>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="{%url 'mail_starred' email.pk%}?email_type={{email_type}}"
                                           class="add-star mr-3"

                                   title="Add stars">
                                    <i class="fa font-size-16
                                    {%if email.mail_starred%}
                                        text-warning
                                        fa-star
                                    {% else %}
                                        fa-star-o
                                    {%endif%}

                                    "></i>
                                        </a>
                                    </div>
                                    <div>
                                        <figure class="avatar avatar-sm mr-3">
                                            <img src="{%static "/admin/assets/media/image/user/man_avatar5.jpg"%}"
                                            class="rounded-circle" alt="image">
                                        </figure>
                                    </div>
                                    <div class="flex-grow-1 min-width-0   ">
                                        <div class="mb-1 d-flex justify-content-between align-items-center">
                                            <div class="text-truncate app-list-title">{{email.sender}}
                                                &lt{{email.sender.email}}&gt
                                            </div>
                                            <div class="pl-3 d-flex">
                                                <span class="text-nowrap text-muted">{{email.viewed_date|date:"d F"}}</span>
                                                <div class="dropdown ml-3">
                                                    <a href="#" class="btn btn-outline-light btn-floating btn-sm"
                                                       data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-h"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right ">
                                                        <a class="dropdown-item reply_view" id="reply_view{{ email.pk }}"
                                                           data-email_id="{{ email.pk }}"
                                                           href="#">Reply</a>
                                                        <a class="dropdown-item" href="{%url 'mail_starred' email.pk%}?email_type={{email_type}}">
                                                            {%if email.mail_starred%}
                                                                Remove Star
                                                            {%else%}
                                                            Add star
                                                            {%endif%}</a>
                                                        <a class="dropdown-item" href="{%url 'mail_spam' email.pk%}?email_type={{email_type}}">
                                                            {%if email.mail_spam%}
                                                                Unmark as Spam
                                                            {%else%}
                                                            Mark as Spam
                                                            {%endif%}
                                                            </a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-danger"href="{%url 'mail_deleted' email.pk%}?email_type={{email_type}}">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-muted d-flex justify-content-between">
                                            <div class="text-truncate small">{{email.subject}}
                                            </div>
                                            <div class="text-nowrap pl-3">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item mb-0">
                                                        <i class="fa fa-circle text-danger"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {%endfor%}


                    </ul>
                </div>




                <!-- end::app-lists -->

                <!-- begin:app-detail -->
                <div class="card app-detail">
                    <div class="card-header">
                        <div class="app-detail-action-left align-items-center">
                            <a class="app-detail-close-button btn btn-outline-light mr-3 email_back_button" href="">
                                <i class="ti-arrow-left"></i>
                            </a>
                            <h5 class="mb-0" id="card_content_subject">
                                Advertising Internet


                                    </h5><span class="badge bg-success-bright text-success ml-1" id="card_content_label">Freelance</span>
                                </div>
                                <div class="app-detail-action-right">
                                    <div>
                                        <a href="#" class="btn btn-outline-light" data-toggle="tooltip" title="Reply">
                                            <i class="ti-back-right"></i>
                                        </a>
                                        <a href="#" class="btn btn-outline-light ml-2" data-toggle="tooltip"
                                           title="Mark as spam">
                                            <i class="ti-info-alt"></i>
                                        </a>
                                        <a href="#" class="btn btn-outline-danger ml-2" data-toggle="tooltip"
                                           title="Dispose">
                                            <i class="ti-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="app-detail-article">
                                <div class="card-body">
                                    <div class="d-flex mb-4">
                                        <div class="d-flex align-items-center">
                                            <figure class="avatar mr-3">
                                                <img src="{%static "/admin/assets/media/image/user/women_avatar5.jpg"%}"
                                                class="rounded-circle"
                                                alt="image">
                                            </figure>
                                            <div>
                                                <h6 class="m-b-0">
                                                    <span class="text-primary"
                                                          id="card_content_sender">Valentine Maton</span>
                                                    <!--                                            <span class="d-sm-inline d-none text-muted"> &lt;elnora@gmail.com&gt;</span>-->
                                                </h6>
                                                <span class="small text-muted" id="card_content_receiver">to Lois Jimenez</span>
                                            </div>
                                        </div>
                                        <div class="ml-auto">
                                            <a href="#" data-toggle="tooltip" title="Attachment" class="mr-2">
                                                <i class="fa fa-paperclip"></i>
                                            </a>
                                            <a href="#" class="mr-2">
                                                <i class=" fa fa-star font-size-16 text-warning "></i>
                                            </a>

                                    <span class="text-muted" id="card_content_viewed_date">4:14 AM</span>
                                </div>
                            </div>

                            <p id="card_content_body"></p>

                        </div>
                        <hr class="m-0">
                        <div class="card-body" id="card_attach_div">
                            <reply_formh6 class="mb-3 font-size-11 text-uppercase" >Attached Files</reply_formh6>
                            <ul class="list-unstyled mb-0">
                                <li class="small">
                                    <a href="" id ="card_content_attached_files">
                                        <i data-feather="paperclip" class="mr-1 width-15 height-15" ></i>
                                        uikit-design.psd
                                    </a>
                                </li>

                            </ul>
                        </div>

                        <hr class="m-0">
                        <div class="card-body">
                            <h6 class="mb-3 font-size-11 text-uppercase">Reply</h6>
                            <form method="POST" action="" id="reply_form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="reply-email-quill-editor mb-3"></div>
                                <div class="d-flex justify-content-between">
                                    <div class="reply-email-quill-toolbar">
                                            <span class="ql-formats mr-0">
                                              <button class="ql-bold"></button>
                                              <button class="ql-italic"></button>
                                              <button class="ql-underline"></button>
                                              <button class="ql-link"></button>
                                              <button class="ql-image"></button>
                                            </span>
                                    </div>

                                        <input type="hidden" name="body" id="reply_body">
                                        <button type="submit" class="btn btn-primary">Send</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="compose">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Compose Email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-between m-b-20">
                        <div>
                            <a href="#" data-toggle="tooltip" title=""
                               id="draft_email_create"
                               class="btn btn-outline-light mr-2"
                               data-original-title="Keep">
                                <i class="ti-save"></i>
                            </a>
                            <a href="#" data-toggle="tooltip" title=""
                               class="btn btn-outline-danger mr-2"
                               data-original-title="Delete">
                                <i class="ti-trash"></i>
                            </a>
                        </div>
                    </div>
                    <form method="POST" id="email_submit_form"
                          action="{% url 'mail_create_class' %}"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">

<!--                            <input type="text" class="form-control tagsinput" name = "to" placeholder="To"-->
<!--                                   {% if object %}-->
<!--                                    value="{{ object.receiver.username }}"-->
<!--                                   {% endif %}-->
<!--                                   required>-->

                            <select name="receiver_multiple" class="form-control select2-example"
                                    id="receiver_multiple" multiple>
                                {% for u in user_list %}
                                <option value="{{ u.pk }}"
                                        {% if object %}
                                        {% if object.receiver.pk == u.pk %} selected {% endif %}
                                        {% endif %}>{{ u.username }}
                                </option>
                                {% endfor %}

                            </select>
                            <input type="hidden" name="receiver_list" id="receiver_list" value="">
                            <input type="hidden" name="sender" value="{{ request.user.pk }}">

                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" name = "subject" placeholder="Subject" required>
                        </div>

                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name = "file_upload" multiple id="customFileLangHTML">
                                <label class="custom-file-label" for="customFileLangHTML" data-browse="Select files">Voeg
                                    je document toe</label>
                            </div>
                        </div>
                        <div>
                            <div class="form-group d-none">
                                <textarea class="form-control" id="input_body" name = "body" rows="4" cols="50" placeholder="Type Your Email...." required>
                                </textarea>
                                </div>
                            <div class="compose-quill-editor mb-3" >
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="compose-quill-toolbar">
                            <span class="ql-formats mr-0">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-link"></button>
                                <button class="ql-image"></button>
                            </span>
                                </div>
                                <button class="btn btn-primary" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        </div>
        <!-- ./ Content -->
        <!-- Footer -->
        <footer class="content-footer">
            <div>© 2020 Baston - <a href="http://laborasyon.com" target="_blank">Laborasyon</a></div>
            <div>
                <nav class="nav">
                    <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
                    <a href="#" class="nav-link">Change Log</a>
                    <a href="#" class="nav-link">Get Help</a>
                </nav>
            </div>
        </footer>
        <!-- ./ Footer -->
    </div>
    <!-- ./ Content body -->

<!--  hidden detail card template  -->

    <div class="d-none" id="reply_copy_temp">

            <hr class="m-0" style="border-color:#FFF;">
<!--        <div class="app-detail-article">-->
            <div class="card-body">
                <div class="d-flex mb-4">
                    <div class="d-flex align-items-center">
                        <figure class="avatar mr-3">
                            <img src="{%static "/admin/assets/media/image/user/women_avatar5.jpg"%}"
                            class="rounded-circle"
                            alt="image">
                        </figure>
                        <div>
                            <h6 class="m-b-0">
                                <span class="text-primary"
                                      id="card_content_sender_change_email_pk">Valentine Maton</span>
                                <!--                                            <span class="d-sm-inline d-none text-muted"> &lt;elnora@gmail.com&gt;</span>-->
                            </h6>
                            <span class="small text-muted" id="card_content_receiver_change_email_pk">to Lois Jimenez</span>
                        </div>
                    </div>
                    <div class="ml-auto">
                        <a href="#" data-toggle="tooltip" title="Attachment" class="mr-2">
                            <i class="fa fa-paperclip"></i>
                        </a>
                        <a href="#" class="mr-2">
                            <i class=" fa fa-star font-size-16 text-warning "></i>
                        </a>

                        <span class="text-muted" id="card_content_viewed_date_change_email_pk">4:14 AM</span>
                    </div>
                </div>
                <p id="card_content_body_change_email_pk"></p>
            </div>
            <hr class="m-0">
            <div class="card-body" id="card_attach_div_change_email_pk">
                <reply_formh6 class="mb-3 font-size-11 text-uppercase">Attached Files</reply_formh6>
                <ul class="list-unstyled mb-0">
                    <li class="small">
                        <a href="" id="card_content_attached_files_change_email_pk">
                            <i data-feather="paperclip" class="mr-1 width-15 height-15"></i>
                            uikit-design.psd
                        </a>
                    </li>

                </ul>
            </div>
<!--        </div>-->
    </div>

    {%endblock%}






